//Header
$navbrand-background: #367fa9;
$mainheader-background: #3c8dbc;

//Sidebar
$sidebar-background: #263338;
$topnav-background: #222d32;
$mainnav-background: #1a2226;
$title-color: #4b646f;
$item-color: #b8c7ce;
$userstatus-color: #3c763d;
$search-color: #374850;

//HeaderContent

//MainContent
$border-color: #f4f4f4;

//Button
$success: #00a65a;
$warning:#f39c12;
$danger: #dd4b39;
$primary: #3c8dbc;